*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins';
}

:root{
    --bg: #2f323f;
}

body{
    min-height: 100vh;
    background-color: var(--bg);
}

.navigation{
    position: fixed;
    inset: 40px 0 40px 20px;
    background: #fff;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.navigation.active{
    width: 250px;
}

.menuTogle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menuTogle::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

.navigation.active .menuTogle::before{
    transform: translateY(0) rotate(45deg);
}

.menuTogle::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    transform: translateY(8px);
    box-shadow: 0 -8px 0 #333;
    transition: 0.5s;
}

.navigation.active .menuTogle::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
    height: 76px;
    border-radius: 12px;
    border: 8px solid transparent;
    transition: 0.5s;
}

.navigation ul li.active{
    transform: translateX(30px);
    background: var(--bg);
}

.navigation ul li::before{
    content: '';
    position: absolute;
    top: -28px;
    right: 22px;
    width: 20px;
    height: 20px;
    background: #f00;
    border-bottom-right-radius: 20px;
    box-shadow: 6px 5px 0 5px var(--bg);
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}
14:19